{%include 'base.html' %}

<body>
    {%include 'navbar.html' %}
    <div class="container-fluid">
        <!-- main content -->
        <div class="row mt-4">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="/" class="bg-light list-group-item list-group-item-action bg-light">
                        All
                    </a>

                    {% for category in categories %}
                    <a href="/category/{{category.pk}}"
                        class="list-group-item list-group-item-action">{{category.title}}</a>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-10">
                <!-- images -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-columns">
                            {% for i in images%}
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="/media/{{i.image}}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{i.title}}</h5>
                                    <p class="card-text">{{i.description}}</p>
                                    <a href="/media/{{i.image}} " target="_blank" class="btn btn-primary">Open Image</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>